/* styles.css */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'UbuntuRegular', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #e0e7e7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: #e0e7e7;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* Header styles */
header {
  padding: 20px 0;
}

.logo {
  font-size: 100px;
  font-weight: bold;
  color: #333;
  text-align: justify;
}

.github-link {
  position: absolute; 
  top: 0; 
  right: 0; 
  margin-top: 60px;
  margin-right: 15px;
}

.github-image {
  width: 30px;
  height: 30px;
}

.linkedin-link {
  position: absolute; 
  top: 0; 
  right: 0; 
  margin-top: 100px;
  margin-right: 15px;
}

.linkedin-image {
  width: 30px;
  height: 30px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0088cc;
}
/* Card styles */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color:#eeeeee;
  position: relative;}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link {
  vertical-align: top;
  align-self: flex-end;
}

.googleplay-image {
  position: absolute; /* Add position:absolute to the Google Play image */
  top: 10px; /* Adjust the top position value as needed */
  right: 10px;
  height: 30px;
  width: 30px;
}
.company {
  font-size: 16px;
  color: #666;
}

.years {
  font-family: 'UbuntuItalic', Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.desc {
  font-family: 'UbuntuRegular', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
/* Section styles */
section {
  padding: 80px 0;
}

section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 18px;
  color: #666;
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section ul li {
  margin-bottom: 10px;
  color: #666;
}

.skills-section {
  float: right;
  width: calc(30% - 20px);
  text-align: right;
}

.dark-mode-toggle {
  float: right;
}

/* Contact form styles */
form input,
form textarea {
  background-color: #ffffff;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
form textarea {
  height: 100px;
}

form button {
  background-color: #0088cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  
}

form button:hover {
  background-color: #006699;
}

/* Dark Mode Styles */
*.dark-mode {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}
body.dark-mode {
  background-color: #222;
  color: #fff;
}

.container.dark-mode {
  background-color: #333;
}

header.dark-mode {
  background-color: #333;
}

.logo.dark-mode {
  color: #fff;
}

nav ul li a.dark-mode {
  color: #fff;
}

section.dark-mode {
  background-color: #444;
}

section h2.dark-mode {
  color: #fff;
}

section p.dark-mode {
  color: #ccc;
}

.skills-section.dark-mode {
  color: #fff;
}

form.dark-mode input,
form.dark-mode textarea {
  border-color: #666;
  background-color: #333;
  color: #fff;
}

form.dark-mode input[type="text"],
form.dark-mode textarea {
  color: #fff;
}

form.dark-mode button {
  background-color: #00a6e9;
}

footer.dark-mode {
  background-color: #333;
  color: #aaa;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    padding: 10px;
  }
  
  section {
    padding: 40px 0;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section p {
    font-size: 16px;
  }
}
